#btInicio{
    -fx-background-color: white;
    -fx-text-fill: black;
}

#tfNome {
   -fx-font-family: "Verdana", "Helvetica", "Arial";
   -fx-font-size: 13px;
}

.jfx-text-field {
-fx-prompt-text-fill: #989898;
}