#btClientes {
    -fx-background-color: white;
    -fx-text-fill: black;
}

JFXButton{
    -fx-background-radius: 5;
    -fx-font-family: Verdana;
    -fx-text-fill: darkslategray;
    -fx-font-weight:100;
    -fx-alignment: BASELINE_LEFT;
}

JFXButton:hover {
    -fx-background-color: lightsteelblue;
    -fx-cursor: hand;
    -fx-text-fill: blue;
}
